<%= form_with url: replies_path(story_id: @story.id ) do |f| %>
  <div class="mb-4">
    <%= f.label :user_name, "Your Name", class: "block text-gray-700 font-medium mb-2" %>
    <%= f.text_field :user_name, class: "w-full px-3 py-2 border border-gray-300 rounded-lg focus:ring-blue-500" %>
  </div>

  <div class="mb-4">
    <%= f.label :description, "Your Reply for the comment", class: "block text-gray-700 font-medium mb-2" %>
    <%= f.text_area :description, class: "w-full px-3 py-2 border border-gray-300 rounded-lg focus:ring-blue-500", rows: 5 %>
  </div>
  <div class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-full w-48 text-center">
    <%= f.submit "Post Reply" %>
  </div>
<% end %>