<div class="container">
  <h1 class="text-3xl font-bold ">Title: <%= @story.title %></h1>
  <h2 class="text-xl font-semibold ">Like:<%= @story.likes.count %></h2>
  <div class="flex">
  <h2 class="text-xl font-semibold ">Comments:<%= @story.comments.count %></h2>
    <%= link_to 'View Comments', comments_show_path(@story.id) ,class: "pl-4 text-blue-600" %>
  </div>

  <%=link_to "Click to post a comment",new_comment_path(@story)  %>
  <div class="bg-white shadow-md rounded-lg p-6">
    <p class="mb-4"><%= @story.description %></p>
    <p class="mb-4 text-blue-600 font-bold">Post Created by: <%= @story.by %></p>
  </div>
  <div class="mt-4">
    <%= link_to 'Back to Stories', stories_path, class: "text-blue-600 hover:underline" %>
  </div>
</div>


